* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 90vh;
}

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 90vh;
}

.right {
  background-color: red;
  grid-column: 1/4;
  background-image: url(./pics/header.jpg);
  background-position: center;
  background-size: cover;
}

.left {
  background-color: #202020;
  grid-column: 4/7;
}

.text {
  position: absolute;
  text-align: center;
  font-family: cursive;
  top: 40%;
  right: 42%;
  background: linear-gradient(to right, #202020 45%, #cacbcb 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
